@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

@import url(./reset.css);

:root {
  /* Color's */
  --color-1: #fff5f0;
  --color-2: #fffcfa;
  --color-3: #f3eaf4;
  --color-4: #f1d4be;
  --color-5: #4c4c4c;
  --color-6: #262626;
  --color-7: #9db9dd;
  --color-8: #38b6ff;
  --color-9: #df91ab;
  --color-10: #ff66c4;
  --color-11: #ffae80;
  --color-12: #ffc4a1;

  /* Font's */
  --h1: 700 1.62rem "Outfit", Arial, Sans-serif;
  --h2: 600 1.5rem "Outfit", Arial, Sans-serif;
  --h3: 500 1.3rem "Outfit", Arial, Sans-serif;
  --h4: 500 1.15rem "Outfit", Arial, Sans-serif;
  --text-primary: 400 1rem "Outfit", Arial, Sans-serif;
  --text-secondary: 500 1rem "Outfit", Arial, Sans-serif;
  --text-tertiary: 400 0.87rem "Outfit", Arial, Sans-serif;
  --text-detail: 400 0.87rem "Outfit", Arial, Sans-serif;

  /* Other's */
  --scroll-bar-color: #ffae80;
  --scroll-bar-background: #fff5f0;

  --outline: 2px dotted #;
  --hover: #;
}

.kids {
  background: var(--color-1);
  color: var(--color-6);

  font: var(--text-primary);

  user-select: none;

  margin: auto;
  max-width: 425px;
}

.kids body {
  height: -webkit-fill-available;
}

/* Titles Presets */
h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

/* ! Scroll Bar */
/** The CSS code you provided is responsible for styling the scroll bar in a web page. */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-background);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-bar-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 4px solid var(--scroll-bar-background);
}

/* Presets */
._btn {
  border: 2px solid var(--color-6);
  border-radius: 5px;

  padding: 0.5rem;
  font-size: 1.3rem;
}

._btn.min {
  text-align: center;
  font-size: 1rem;
}

._btn.icon {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 0.5rem;
}

._btn.orange {
  background-color: var(--color-12);
}

._btn:hover {
  transition: all 0.5s;
  background-color: var(--color-11);
}

._btn:focus-visible {
  transition: all 0.5s;

  outline: 2px dotted var(--color-11);
  background-color: var(--color-11);
}

._card {
  color: var(--color-6);
  background-color: var(--color-2);

  border: 2px solid var(--color-6);
  border-radius: 10px;

  padding: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  gap: 2rem;

  display: flex;
  flex-direction: column;

  position: relative;
}

._card h2 {
  text-align: center;
}

._card::after {
  background-color: var(--color-6);
  border-radius: 10px;

  content: "";

  display: block;

  height: -webkit-fill-available;
  width: 100%;

  position: absolute;
  top: -2px;
  left: 0;

  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;

  z-index: -1;
}

._card ._div {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

._card ._row {
  display: flex;
  flex-direction: column;

  gap: 0.8rem;
}

._sec {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: .5rem;
}

._sec ._input {
  width: 100%;
}

._sec ._btn {
  font-size: 1.82rem;
}

._input {
  border: 2px solid var(--color-6);
  border-radius: 5px;

  padding: 0.8rem;

  width: -webkit-fill-available;
}

._input:hover {
  transition: all 0.5s;
  border: 2px solid var(--color-11);
}

._input:focus-visible {
  border: 2px solid var(--color-11);
  outline: 2px dotted var(--color-11);
}

/* Header & Footer */
.kids ._header,
.kids ._footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0.5rem;

  position: relative;
}

.kids ._header {
  border-bottom: 2px solid var(--color-6);
}

.kids ._footer {
  border-top: 2px solid var(--color-6);
}

.kids ._header img {
  width: 7rem;
}

.kids ._header nav {
  display: flex;
  align-items: center;
  justify-content: end;

  gap: 0.5rem;
}

.kids ._footer span {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.kids ._header ._sp {
  display: inherit;
}

.kids ._header ._menu {
  background: var(--color-2);

  border: 2px solid var(--color-6);
  border-radius: 10px;

  font-size: 1.15rem;

  position: absolute;
  right: 16px;
  top: 82px;

  width: 9rem;
  z-index: 1;
}

.kids ._header ._menu ._opt {
  padding: 0.8rem;
  border-bottom: 2px solid var(--color-6);
}

.kids ._header ._menu ._opt.p {
  border-radius: 10px 10px 0 0;
}

.kids ._header ._menu ._opt.u {
  border-radius: 0 0 10px 10px;
}

.kids ._header ._menu ._opt.sair {
  border: none;
}

.kids ._header ._menu ._opt:hover {
  transition: all 0.5s;
  background-color: var(--color-11);
}

@media screen and (min-width: 375px) {
  .kids {
    border-left: 2px solid var(--color-6);
    border-right: 2px solid var(--color-6);
  }
}

@media screen and (min-width: 425px) {
  ._btn.min {
    width: 159px;
  }

  ._card ._row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
}
